<%- include('../partials/header')%>

<body class="d-flex home">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
        <%- include('../partials/homepage-menu')%>

        <main class="container px-3 text-center main-container">
            <h1>HungryChoices</h1>
            <p class="lead"> Welcome to HungryChoices! <br> HungryChoices matches you with dishes based on your food
                preferences so that you never have to worry about finding what to eat. <br> Start matching or browse
                foods today!</p>
            <a href="discover" class="btn btn-lg btn-secondary">View
                Food</a>

        </main>
        <footer class="text-center p-2 mt-auto">
            <div class="container">
                <span style="color: #000000;">&copy; SudoCode. All rights reserved.</span>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>