<!DOCTYPE html>
<html>

<head>
    <title>HungryChoices</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <link href="../../resources/site_style.css" rel="stylesheet">
    <script src="../../resources/js/login.js"></script>
</head>

<body class="d-flex home">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
        <header class="mb-auto">
            <nav class="navbar navbar-expand-lg navbar-light py-3">
                <a class="navbar-brand" href="homepage">
                    <!-- Add in the acutal logo-->
                    <img class="rounded-circle" src="../resources/img/hungrychoices_logo.jpg" alt="" width="20"
                        height="20" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="homepage">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="matchmaking">Matchmaking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="discover">Discover</a>
                        </li>
                        <li class="nav-item p1">
                            <a class="nav-link" href="profile">Profile</a>
                        </li>
                    </ul>
                    <div class="form-inline my-2 my-lg-0 p-1">
                        <button href="#myModal" class="btn btn-outline-dark my-2 my-sm-0" data-toggle="modal"
                            onclick="openModal()">
                            Log In
                        </button>
                    </div>
                </div>

                <div id="myModal" class="modal fade">
                    <div class="modal-dialog modal-login">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Log In</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input id="username" type="text" class="form-control" name="username"
                                        placeholder="Username" required="required" />
                                </div>

                                <div class="form-group">
                                    <input id="psw" type="password" class="form-control" name="password"
                                        placeholder="Password" required="required" />
                                </div>

                                <div class="form-group">
                                    <button id="my_submit_button" class="btn btn-secondary" disabled>
                                        Log In
                                    </button>
                                </div>
                            </div>
                            <div class="container">

                                <h3>Not registered?</h3>
                                <a href="register">Create an Account</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container px-3 text-center main-container">
            <h1>HungryChoices</h1>
            <p class="lead"> Welcome to HungryChoices! <br> HungryChoices matches you with dishes based on your food
                preferences so that you never have to worry about finding what to eat. <br> Start matching or browse
                recipes today!</p>
            <a href="discover" class="btn btn-lg btn-secondary">View
                Recipes</a>

        </main>
        <footer class="text-center p-2 mt-auto">
            <div class="container">
                <span style="color: #000000;">&copy; SudoCode. All rights reserved.</span>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>