<%- include('../partials/header')%>


<body class="d-flex matchmaking">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
        <%- include('../partials/menu')%>

        <main>
            <img src="../../resources/img/loading.gif"
                id="LoadingImage"
                style="width: 100px; height: auto; position: absolute; top: 50%; left: 50%;"
            >  
            <div class="card-container">        
                <div class="cards" id="card-section">
                    <p>No more cards!</p>
                </div>
              
                <div class="card-buttons">
                  <button id="no"><img src="../../resources/img/HeartBroken.png"
                    style="width: 50px; height:auto"></button>
                  <button id="yes"><img src="../../resources/img/HeartFull.png"
                    style="width: 50px; height:auto"></button>
                </div>
              </div>
        </main>

    </div>

    <script src="../../resources/js/hammer.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../resources/js/matchmaking.js"></script>
</body>

</html>