<%- include('../partials/header')%>

<body class="d-flex profile">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
        <%- include('../partials/menu')%>

        <main class="container px-3 text-center main-container">
            <br>

<!-- FAILED CHANGABLE BANNER BELOW -->

            <!-- <div class="banner">
                <img src="../../resources/img/bannerSample.png" id="banner-output" />
                <label class="-label" for="fileB">
                    <span>Change Banner</span>
                </label>
                <input id="fileB" type="file" onchange="loadFileB(event)" />
            </div> -->
            <div class="prof-details">
                <!-- Changeable pfp -->
                <!-- TODO: Implement image storage for pfp to database. -->
                <div class="pfp">
                    <img src="../../resources/img/pfpSample.jpg" id="PFPoutput" />
                    <label class="-label" for="filePFP">
                        <span>Change Image</span>
                    </label>
                    <input id="filePFP" type="file" onchange="loadFilePFP(event)" />
                </div>
                <!-- TODO: Implement username pull from database. -->
                <h3>Welcome to Your Profile!</h3>
                <!-- Stats Chart -->
                <!-- TODO: Implement integration with discover page. -->
                <div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
                    <canvas id="pieChart"></canvas>
                </div>
            </div>

        </main>

        <footer class="text-center p-2 mt-auto">
            <div class="container">
                <span style="color: #000000;">&copy; SudoCode. All rights reserved.</span>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../../resources/js/login.js"></script>
    <script src="../../resources/js/profile.js"></script>
    <script src="../../resources/js/chart.js/dist/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>